<html>

<head>
    <title>커뮤니티 메인홈페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

    {% for log in logs %}
    <table align=center>
        <tr>
            <td rowspan=2 width=160 height=160><img src="{{ log.charcon }}" style="vertical-align:top;" width='150'
                    height='150'></img></td>
            <td bgcolor="#A9A9F5" width=370 height=10><strong>{{ log.charname }}</strong>, {{ log.where }}</td>
            <td bgcolor="#A9A9F5" width=150><small>{{ log.write_dttm }}</small></td>
            <td bgcolor="#A9A9F5"><a href="/home/confirm/{{log.id}}" style="text-decoration:none; color:green">수정</a>
            </td>
            <td bgcolor="#A9A9F5"><a href="/home/delete/{{log.id}}" style="text-decoration:none; color:red">삭제</a>
            </td>
        </tr>
        <tr>
            <td colspan=5 width=600 style="vertical-align:top;"><br>&nbsp;{{ log.contents }}</td>
        </tr>
        <tr>
            <hr style="width:800px">
        </tr>
        <tr>&nbsp;</tr>

    </table>
    {% if forloop.last %}
    <form action="/home/log/{{log.mainlog}}" method="post" align="center">
        
        {% csrf_token %}
        <p style="line-height:20px;">장소 : <input type="text" id="where" name="where">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 비밀번호
            : <input type="password" id="password" name="password"></p>
        <p><textarea style="width:480px;height:100px;resize:none;" id="contents" name='contents'></textarea></p>

        <p><input type="submit"></p>
    </form>
    {% endif %}
    {% endfor   %}
    <p align='center'><a href="/home/main" style="text-decoration:none; color:green">메인 페이지로</a></p>
</body>

</html>