<html>

<head>
    <title>커뮤니티 메인홈페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <form action="/home/modify/{{log.id}}" method="post" align="center">

        {% csrf_token %}
        <p style="line-height:20px;">장소 : <input type="text" id="where" name="where">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 비밀번호
            : <input type="password" id="password" name="password"></p>
        <p><textarea style="width:480px;height:100px;resize:none;" id="contents" name='contents'></textarea></p>

        <p><input type="submit"></p>
    </form>
    <p align='center'><a href="/home/main" style="text-decoration:none; color:green">메인 페이지로</a></p>
</body>

</html>