<html>

<head>
    <title>커뮤니티 메인홈페이지</title>
    <meta charset="utf-8">
    <style>
        table tr td {
            border-radius: 6px;
            text-align: center;
            color: rgb(136, 100, 245);
        }

        #inp {
            position: relative;
            z-index: 1;

            border: 2px solid #E0E0F8;
            border-radius: 6px;

        }

        #inp:after {
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0.1 !important;
            filter: alpha(opacity=50);
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(/static/img/emblem.png);
            opacity: 0.3;
        }

        input {
            border: 1px solid #E0E0F8;
            border-radius: 7px;
        }

        #normal_btn {
            border-radius: 8px;
            border: 1px solid #E0E0F8;
            background-color: white;
            color: rgb(136, 100, 245);
            padding: 5px;
            font-size: 16px;
            width: 100px
        }

        #contents {
            vertical-align: top;
            text-align: left;
            border: 1px solid #E0E0F8;
            border-radius: 6px;
            color: black;
            background-color: rgb(255, 255, 255, 0.6);
        }

        #notice {
            text-align: center;
            background-image: url(/static/img/notice.jpg);
            color: black;
            width: 500px;
        }

        #top {
            position: fixed;
            bottom: 20px;
            right: 10px;
        }

        #option {
            position: fixed;
            top: 10px;
            right: 10px;
        }
        /**/
        #latest {
            position: fixed;
            bottom: 50%;
            right: 10px;

            border: 2px solid #E0E0F8;
            border-radius: 6px;
            color: rgb(136, 100, 245);
        }

        #over {
            height: 20px;
            width: 20px;
        }
    </style>
</head>

<body>
    <div id="top_direct"><br></div>
    <table align=center>
        <tr>
            <td width=100>
                    <a href="/home/gatya/" style="text-decoration:none; color:green">뽑기</a>
            </td>
            <td width=100>

            </td>
            <td width=100><a href="/home/charank/" style="text-decoration:none; color:green">로그 순위</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>

            <td colspan=3><button id="normal_btn" type="button" class="normal_btn"
                    onclick="location.href='/home/main/'">새로고침</button></td>
        </tr>
    </table>
    <small><br></small>
    <table align="center">
        <tr>
            <td>
                <div id="notice">
                    <!-- <hr style="width:500px"> -->
                    <p style="height:10px; padding:6px">공지</p>
                    <hr style="width:500px">
                    <p>공지 테스트</p>
                    <hr style="width:500px">
                </div>
            </td>
        </tr>
    </table>
    <hr style="width:800px">
    <br>
    <form action="/home/main/" method="post" align="center">
        {% csrf_token %}
        <table id="inp" align=center>
            <tr>
                <td rowspan=2 width=160 height=160><img src="/static/cone/jellyfish.png" style="vertical-align:top;"
                        width='150' height='150'></img></td>
                <td bgcolor="#E0E0F8" width=200 height=10>이름은 자동 입력이에요!</td>
                <td bgcolor="#E0E0F8" width=40>장소</td>
                <td><input type="text" value="{{data.where}}" required id="where" name="where" style="height:22px;">
                </td>
                <td bgcolor="#E0E0F8" width=40>PW</td>
                <td><input type="password" value="{{data.password}}" required id="password" name="password"
                        style="width:130px;height:22px;"></td>
            </tr>
            <tr>
                <td colspan=6 style="vertical-align:top;">
                    <textarea required style="width:600px;height:129px;resize:none;" id="contents"
                        name='contents'></textarea>
                </td>
            </tr>
            <tr>
                <td colspan=5></td>

                <td style="text-align:right;"><button id="normal_btn" type="submit">작성</button></td>

            </tr>
        </table>
    </form>

    {% if data.main_type == 'old' %}
    {% for subloglist in data.logs %}

    {% for log in subloglist %}

    {% if forloop.first %}
    <table id="inp" align=center>
        {% endif %}
        <tr>
            <td {% if forloop.last %} id='{{log.mainlog}}' {% endif %} colspan=2 rowspan=2 height=160>
                <div>
                    <img src="{{ log.charcon }}" style="vertical-align:top;" width='150' height='150'>
                </div>
            </td>
            <td style="width:20px;text-align:center;" {% if forloop.first %} bgcolor="#E0E0F8" {% else %} id="contents"
                {% endif %}>
                <small>{{log.id}}</small></td>
            <td {% if forloop.first %} colspan=2 bgcolor="#E0E0F8" {% else %} colspan=2 id="contents" {% endif %}
                height=10 style="text-align: left;">
                &nbsp;&nbsp;&nbsp;<strong>{{ log.charname }}</strong>, {{ log.where }}
            </td>
            <td {% if forloop.first %} bgcolor="#E0E0F8" {% else %} id="contents" style="text-align: center;"
                {% endif %} colspan=3><small>{{ log.write_dttm }}</small></td>
            <td {% if forloop.first %} bgcolor="#E0E0F8" {% else %} id="contents" style="text-align: center;"
                {% endif %}><a href="/home/log/{{log.mainlog}}#rep"
                    style="text-decoration:none; color:rgb(136, 100, 245)">댓글</a></td>
            <td {% if forloop.first %} bgcolor="#E0E0F8" {% else %} id="contents" style="text-align: center;"
                {% endif %}><a href="/home/confirm/{{log.id}}" style="text-decoration:none; color:green">수정</a></td>
            <td {% if forloop.first %} bgcolor="#E0E0F8" {% else %} id="contents" style="text-align: center;"
                {% endif %}><a href="/home/delete/{{log.id}}" style="text-decoration:none; color:red">삭제</a></td>
        </tr>
        <tr>
            <td id="contents" colspan=9 style="width:600px">
                &nbsp;
                {% autoescape off %}
                {{ log.contents|linebreaksbr }}
                {% endautoescape %}
            </td>
        </tr>
        {% if forloop.last %}

        <!-- 각 테이블에 폼 -->

        <form action="/home/log/{{ log.mainlog }}" method="post" align="center">
            {% csrf_token %}
            <tr>
                <td colspan=2 rowspan=2 style="height:160px">

                    <img src="/static/cone/jellyfish.png" style="vertical-align:top;" width='150' height='150'>

                </td>
                <td colspan=2>Where</td>
                <td><input type="text" value="{{data.where}}" required id="where" name="where" placeholder=" Where"
                        style="width:100%;height:22px;"></td>
                <td colspan=2>PW</td>
                <td colspan=4 width=100><input type="password" value="{{data.password}}" required id="password"
                        name="password" placeholder=" Password" style="width:100%;height:22px;"></td>
            </tr>
            <tr>
                <td colspan=9 style="vertical-align:top;">
                    <textarea required style="width:100%;height:129px;resize:none;" id="contents"
                        name='contents'></textarea>
                </td>
            </tr>
            <tr>
                <td colspan=2 width=160></td>

                <td width=25></td>
                <td width=70></td>
                {% if forloop.counter > 20 %}
                <td width=150 style="text-align:right;"><label for="over">20개 초과해</label></td>

                <td width=70 style="text-align:left;"><label for="over">작성하기</label></td>
                <td width=25><input type="checkbox" required id="over"></td>
                {% else %}
                <td width=150></td>

                <td width=70></td>
                <td width=25></td>
                {% endif %}

                <td width=50></td>


                <td colspan=3 width=100 style="text-align:right;"><button id="normal_btn" type="submit">작성</button></td>
            </tr>
        </form>
        <br>
        <hr style="width:800px">
        <br>

        {% endif %}
        <!--forloop.last (subloglist.sublog)-->


        {% endfor %}
        
        <!--logs.subloglist.sublog-->
        {% if forloop.last %}
        <table align='center'>
                <tr>
                    <td colspan=8>
                            <br><hr style="width:800px">
                    </td>
                </tr>
                </table>
        <table align='center'>
            <tr>
                <td>
                    
                    <button id='normal_btn' type="button" onclick="location.href='/home/main/'"
                        style="width:35px;height:32px; ">
                        <<</button> </td> {% for pag in data.page %} {% if pag != 0 %} {% if forloop.last %}
                            {% if data.next == 'F' %} <!-- {% endif %} {% endif %} <td>
                            <button id='normal_btn' type="button" onclick="location.href='/home/main/{{pag}}'"
                                style="width:35px;height:32px; ">{{ pag }}</button>
                </td>
                {% if forloop.last %}
                {% if data.next == 'F' %}
                -->
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                <form action="/home/main/paging" method="get">
                    <td>
                        &nbsp;
                    </td>
                    <td><input type="text" id="page" required name="page" placeholder="Move page"
                            style="width:80px;height:32px;"></td>
                    <td>

                        <button id='normal_btn' type="submit" style="width:50px;height:32px;">이동</button>
                    </td>
                </form>
            </tr>
        </table>
        <table align=center>
            <tr>
                <form action="/home/search" method="get">
                    <td><input type="text" id="search_word" required name="search_word"
                            style="width:200px;height:32px;">
                    </td>
                    <td>

                        <button id='normal_btn' type="submit" style="width:50px;height:32px;">이동</button>
                    </td>
                </form>
            </tr>
        </table>

        {% endif %}
        <!-- forloop.last(subloglist)-->
        {% endfor %}
        <!-- logs.subloglist-->
        {% else %}
        <br>
        <hr style="width:800px">

        {% for log in data.logs %}
        <table id="inp" align=center>
            <tr>
                <td rowspan=2 width=160 height=160><img src="{{ log.charcon }}" style="vertical-align:top;" width='150'
                        height='150'></img></td>
                <td bgcolor="#E0E0F8"><small>{{log.id}}</small></td>
                <td colspan=2 bgcolor="#E0E0F8" width=370 height=10 style="text-align: left;">
                    &nbsp;&nbsp;&nbsp;<strong>{{ log.charname }}</strong>, {{ log.where }}
                </td>
                <td bgcolor="#E0E0F8" width=150><small>{{ log.write_dttm }}</small></td>
            </tr>
            <tr>
                <td id="contents" colspan=5 width=600>
                    &nbsp;
                    {% autoescape off %}
                    {{ log.contents|linebreaksbr }}
                    {% endautoescape %}
                </td>
            </tr>
            <tr style="height:40px;">
                <td style="text-align:left; color:#9F81F7"><b>&nbsp;⤷ &nbsp;{{ log.sublog_count }}</b></td>
                <td colspan=3></td>

                <td style="text-align:right;">
                    <button type="button" id="normal_btn" onclick="location.href='/home/log/{{log.id}}#rep'">상세</button>
                </td>

            </tr>
            <tr>&nbsp;</tr>

        </table>
        <br>
        <hr style="width:800px">
        {% if forloop.last %}
        <table align='center' style="border-collapse: collapse;">
            <tr>
                <td>
                    <button id='normal_btn' type="button" onclick="location.href='/home/main/'"
                        style="width:35px;height:32px; ">
                        <<</button> </td> {% for pag in data.page %} {% if pag != 0 %} {% if forloop.last %}
                            {% if data.next == 'F' %} <!-- {% endif %} {% endif %} <td>
                            <button id='normal_btn' type="button" onclick="location.href='/home/main/{{pag}}'"
                                style="width:35px;height:32px; ">{{ pag }}</button>
                </td>
                {% if forloop.last %}
                {% if data.next == 'F' %}
                -->
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                <form action="/home/main/paging" method="get">
                    <td>
                        &nbsp;
                    </td>
                    <td><input type="text" id="page" required name="page" placeholder="Move page"
                            style="width:80px;height:32px;"></td>
                    <td>

                        <button id='normal_btn' type="submit" style="width:50px;height:32px;">이동</button>
                    </td>
                </form>
            </tr>
        </table>
        <table align=center>
            <tr>
                <form action="/home/search" method="get">
                    <td><input type="text" id="search_word" required name="search_word"
                            style="width:200px;height:32px;">
                    </td>
                    <td>

                        <button id='normal_btn' type="submit" style="width:50px;height:32px;">이동</button>
                    </td>
                </form>
            </tr>
        </table>


        {% endif %}
        {% endfor   %}

        {% endif %}
        <div id ='option' style="color:rgb(136, 100, 245); text-align:right">
        <details>
            <summary>CLICK !!</summary>
            <div style="text-align: center;color:rgb(136, 100, 245)">로그 뷰어<br></div>
            <button id='normal_btn' type="button" onclick="location.href='/home/version/0'" style="width:80px">접기</button>
            <button id = 'normal_btn'style="width:80px"type="button" onclick="location.href='/home/version/1'">펴기</button><br><br>
            <div style="text-align: center;color:rgb(136, 100, 245)">최근 접속자<br></div>
            <button id='normal_btn' style="width:80px" type="button" onclick="location.href='/home/version/2'">켜기</button>  
            <button id = 'normal_btn'style="width:80px" type="button" onclick="location.href='/home/version/3'">끄기</button>
        </details>    

        










        <div id='top'>
            <button id='normal_btn' type="button" onclick="location.href='#top_direct'" style="width:25px">↑</button>
        </div>
        {% if data.choijeob == 'on' %}
        <div id='latest'>
            <table>
                <tr>
                    <td style="color: #9F81F7;">
                        최근 접속자{% for age in data.latest %}<br>{{ age}}{% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
</body>

</html>