<html>

<head>
    <title>디테일 로그 저장 페이지</title>
    <meta charset="utf-8">

</head>

<body>

    {% for log in data.logs %}
    <table align=center>
            <tr>
                    <td><small>{{log.id}}</small>||<strong>{{ log.charname }}</strong>||{{ log.where }}||<small>{{ log.write_dttm }}</small></td>
                <tr>
                    <td>
                        {% autoescape off %}
                        {{ log.contents|linebreaksbr }}
                        {% endautoescape %}
                    </td>
                </tr>
        <tr>
            <hr style="width:800px">
        </tr>
        

    </table>
    {% endfor   %}
    <p align='center'><a href="javascript:history.back()" style="text-decoration:none; color:rgb(136, 100, 245)">뒤로 가기</a></p>
    <p align='center'><a href="/home/main" style="text-decoration:none; color:green">메인 페이지로</a></p>
    
</body>

</html>